<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/newForm.css">
    <title>Edit Workout</title>
</head>
<body>
<div class="box">
    <form action="/workouts/<%= workout._id %>?_method=PUT" method="POST" class="formBox">

        <h1>Edit <%= workout.workoutType %> Workout</h1>

        <div class="type">
        <label>Workout Type:</label>
        <select name="workoutType">

    <option value="Legs" <%= workout.workoutType === "Legs" ? "selected" : "" %>>
        Legs
    </option>

    <option value="Back" <%= workout.workoutType === "Back" ? "selected" : "" %>>
        Back
    </option>

    <option value="Shoulders" <%= workout.workoutType === "Shoulders" ? "selected" : "" %>>
        Shoulders
    </option>

    <option value="Biceps" <%= workout.workoutType === "Biceps" ? "selected" : "" %>>
        Biceps
    </option>

    <option value="Triceps" <%= workout.workoutType === "Triceps" ? "selected" : "" %>>
        Triceps
    </option>

    <option value="Chest" <%= workout.workoutType === "Chest" ? "selected" : "" %>>
        Chest
    </option>

</select>
        </div>

        <div class="check">
            <label>
                <input type="checkbox" name="isDone" <%= workout.isDone ? 'checked' : '' %>>
                Mark as completed
            </label>
        </div>
        
        <div class="date">
        <label>Date:</label>
        <input type="date" name="date" value="<%= workout.date.toISOString().split('T')[0] %>">
    </div>
        <button type="submit">Update Workout</button>

    </form>
</div>
</body>
</html>