<%- include('../partials/nav') %>

<h1><%= foundWorkout.workoutType %></h1>
<p><%= foundWorkout.date.toLocaleDateString('en-GB', { day: 'numeric', month: 'numeric', year: '2-digit' }) %>   
<p>Workout status: <%= foundWorkout.isDone %></p>
<h2>Exercises</h2>
<ul>
  <% foundExercises.forEach((item) => { %>
    <li><%= item.exerciseName %> — <%= item.sets %> sets <%= item.reps %> reps <%= item.weight %>kg</li>
    <a href="/workouts/<%= foundWorkout._id %>/exercises/<%= item._id %>/edit">Edit</a>
<a href="/workouts/<%= foundWorkout._id %>/exercises/<%= item._id %>/delete">
    <button type="submit">Delete</button>
</a>  
<% }) %>
</ul>

<a href="/workouts/<%= foundWorkout._id %>/exercises/new">➕ Add Another Exercise</a>
<a href="/workouts/<%= foundWorkout._id %>/edit">Edit Workout</a>
<a href="/workouts/<%= foundWorkout._id %>/delete">
    <button type="button">Delete</button>
</a>

<a href="/workouts">Workouts List</a>

