<h1>Edit Exercise</h1>

<form action="/exercises/<%= foundExercises._id %>?_method=PUT" method="POST">
    <label>Exercise Name:</label>
    <input type="text" name="exerciseName" value="<%= foundExercises.exerciseName %>">

    <label>Weight KG:</label>
    <input type="number" name="weight" value="<%= foundExercises.weight %>">

    <label>#Sets:</label>
    <input type="number" name="sets" value="<%= foundExercises.sets %>">

    <label>#Reps</label>
    <input type="number" name="reps" value="<%= foundExercises.reps %>">

    <button type="submit">Update Exercise</button>
</form>
